body {
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    background-color: #2e69e7;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

h1 {
    font-size: x-large;
}

input {
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 2px;
    border-color: #0c2d75;
}

button {
    background-color: #0c2d75;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border-color: #0c2d75;
}

img {
    width: 30%;
    visibility:hidden;
    border-radius: 1px;
}

.contenedor {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
